@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Caprasimo&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #9B59B6;

}

.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px ;

}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;

}

header .icons span {
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icons span:hover {
    color: #f2f2f2;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar .days li{
    cursor: pointer;
    margin-top:30px;
    z-index: 1;

}

.calendar .weeks li {
    font-weight:500;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}
.calendar .days li{
    cursor: pointer;
    margin-top:30px;
    z-index: 1;

}
.days li.inactive{
    color: #878787;
}
.days li.active{
    color: #fffcfc;
}
.days li.active::before{
    background: #9B59B6;
}

.calendar  .days li::before{
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 50%;
    z-index: -1;
    left: 18%;
    transform: translate(-50%,-50%);
    


}
  .days li:hover::before{
    background: #f2f2f2;
}
